body {
  max-width: 800px;
  margin: 10px auto;
  padding: 0 auto;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.mainContainer {
  border: 1px solid #9e9e9e;
  border-radius: 10px;
}

#weatherInfo {
  margin: 10px;
}

#weatherInfo img {
  float: left;
  margin: 5px;
  padding: 5px;
}

#searchLocation {
  margin: 5px;
  width: 215px;
}

hr {
  margin-left: 5px;
  margin-right: 5px;
}
#header {
  margin: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
  text-decoration: none;
}
.precip {
  color: #000000;
}
.humid {
  color: #000000;
}

.wind {
  color: #000000;
}
.btmContainer {
  text-align: center;
  margin: 10px;
}

.btmContainer h4 {
  border-bottom: 1px solid #575757;
}

span {
  color: lightgrey;
  margin: 10px;
}

span a {
  color: lightgrey;
}

span a:hover {
  color: magenta;
}
