body {
    max-width: 800px;
    margin: 10px auto;
    padding: 0 auto;
    border: 1px solid #575757;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#heading {
    margin-top: 5px;
}
ul {
    margin: 0;
    padding: 0;
}


.list {
    list-style-type: none;
    text-decoration: none;
}

.btmcontent {
    text-align: center;
}


